.about-info-container, .about-service-container {
    display: flex;
}

.about-service-container {
    flex-direction: column;
}

.about-details {
    width: 66%;
    padding: 0 10px;
}

.about-personal-details {
    width: 34%;
    padding-left: 30px;
    padding-right: 15px;
}


.about-info-container h3 {
    font-size: 22px;
    font-weight: 700;
}

.about-personal-details ul li .title::after {
    position: absolute;
    right: -10px;
    content: ":";
}

.about-personal-details ul li {
    line-height: 1em;
    margin-bottom: 15px;
}
.signature {
    width: 50%;
}
.signature img {
    width: 100%;
    height: auto;
}
.btn-main {
    border: 2px solid #00A3E1;
    padding: 10px 20px;
    width: max-content;
    text-transform: uppercase;
    background-color: transparent;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 14px;
    color: #00A3E1;
    font-weight: 500;
    position: relative;
    line-height: 100%;
    letter-spacing: 1px;
    overflow: hidden;
}

.btn-main:hover {
    color: #000;
    background-color: #00A3E1;
}

.about-personal-details ul li .title {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5px;
    border-bottom: 2px solid #fff;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 1px;
    color: #fff;
    border-color: #00A3E1;
}

.service-list {
    display: flex;
    justify-content: space-between;
}


