.footer-container {
    height: 100%;

}

.footer-items {
    height: inherit;
    display: flex;
    justify-content: space-evenly;
}

.footer-container .fa {
    font-size: 23px;
    color: #777;
}
