.navbar-container ul {
    padding: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.navbar-container li {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #202226;
    line-height: 45px;
}

.menu-item {
    display: inline-block;
    color: #777;
    cursor: pointer;
    background-color: transparent;
}

.menu-label {
    position: relative;
    left: 51px;
    top: 5px;
}

.navbar-container .lnr {
    position: relative;
    left: 42px;
    top: 7px;
    font-size: 20px;
}

.lnr {
    font-family: 'Linearicons-Free';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
